Source: more-itertools
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Mycroft Devs <devops@mycroft.ai>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
               python-vcversioner,
               python3-all,
               python3-setuptools,
               python3-vcversioner
Standards-Version: 4.0.0
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/more-itertools.git
Vcs-Browser: https://anonscm.debian.org/git/python-modules/packages/more-itertools.git

Package: python-more-itertools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: More routines for operating on iterables, beyond itertools.
 This package contains the module for Python 2.x. Python's itertools
 library is a gem - you can compose elegant solutions for a variety of
 problems with the functions it provides. In more-itertools, we collect
 additional building blocks, recipes, and reoutines for working with
 Python iterables.

Package: python3-more-itertools
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: More routines for operating on iterables, beyond itertools.
 This package contains the module for Python 2.x. Python's itertools
 library is a gem - you can compose elegant solutions for a variety of
 problems with the functions it provides. In more-itertools, we collect
 additional building blocks, recipes, and reoutines for working with
 Python iterables.
